.wrapper_news {
  display: flex;
  flex-wrap: wrap;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tags_wrapper {
    line-height: 0.8;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.tags {
    background-color: #5de30e;
    cursor: pointer;
    color: white;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 10px;
}

.reactions {
    cursor: pointer;
}